@{
    ViewBag.Title = "Import Excel File";
}

<h2>Import Excel File</h2>

@using (Html.BeginForm("ImportExcel", "Gia_CLS", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        <label for="file">Chọn file Excel:</label>
        <input type="file" name="file" id="file" />
    </div>

    <div>
        <button type="submit">Upload</button>
    </div>
}

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <p>@ViewBag.Message</p>
}
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}
@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success">
        @ViewBag.SuccessMessage
    </div>
}
